<!DOCTYPE html>
<html>
<head>
  <title>Bapbitcoin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="home-page container-fluid">
	<%= render 'layouts/partials/home/home_header' %>

	<div class="col-md-9 home-page-main">
		<%= render 'layouts/partials/home/home_nav' %>
	</div>
</section>

</body>
</html>